{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="demo">Login  </h1>
<br>
<div id ="demo">please enter your details to proceed with login.</div>
<br>
<form method="post" action="login">
    {% csrf_token %}
    <label for="username">User Name:</label> <br>
    <input type="text" name="username" placeholder="Enter ur name"><br>
    <label for="password">Password:</label> <br>
    <input type= "text" name="password" placeholder="password"><br>
    <input type= "submit"><br>
</form>
<div class ="row my_row_class">
        <div class = "mx-auto col-md-12">
           <a class ="btn btn-secondary col" href ="{% url 'school_app:register_user' %}">Register</a>
        </div>
</div>

{% for msg in messages %}
{{msg}}
{% endfor %}
{% endblock %}